/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/********** mis estilos ***********/

.micontainer {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  position: relative;
}

div.cont_top {
  display: grid;
  grid-template-columns: 4fr 16fr;
  grid-gap: 0px;
  grid-auto-rows: minmax(5px, auto);
  z-index: 100;
}

div.logo img {
  width: 80%;
  display: block;
  margin: 25px auto 0px auto;
}

.top-left {
  z-index: 100;
}

.top_right {
  position: relative;
}

.top_right img {
  width: 100%;
}

div.video {
  width: 100%;
  height: 250px;
  position: fixed;
  bottom: calc(30%);
  z-index: -500;
}

div.video video {
  width: 100%;
}

/************* menu ***********/

div.menu_superior {
  position: absolute;
  top: 25px;
  width: 100%;
  height: 40px;
  background-color: transparent;
}

.menu {
  float: right;
}

.menu a.item {
  width: 80px;
  display: block;
  float: left;
  height: 40px;
  line-height: 35px;
  color: #001550;
  border-right: 2px solid #001550;
  margin-left: 15px;
}

.menu a.btn_play {
  display: block;
  float: left;
  height: 40px;
  line-height: 35px;
  background-color: #001550;
  color: #fff;
  margin-left: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

/*********** menu2 *********/

.menu2 {
  margin-top: 50px;
}

.menu2 ul {
  list-style: none;
  padding-left: 0px;
  margin-left: 0px;
}

.menu2 ul li {
  padding-left: 0px;
  display: table;
  margin-bottom: 20px;
}

.menu2 ul li a {
  line-height: 60px;
  float: left;
  display: block;
  -webkit-border-radius: 0px 15px 15px 0px;
  -moz-border-radius: 0px 15px 15px 0px;
  border-radius: 0px 15px 15px 0px;

  border-right: 2px solid #1c6ea4;
  border-top: 2px solid #1c6ea4;
  border-bottom: 2px solid #1c6ea4;
  border-radius: 0px 15px 15px 0px;

  width: 220px;
  color: #001550;
  font-weight: bold;
}

.menu2 i {
  font-size: 40px;
  float: left;
  margin-right: 10px;
  color: #001550;
  line-height: 60px;
}

/********** carousel *********/

div.carousel-sup {
  position: absolute;
  top: 120px;
  width: 100%;
  height: 450px;
  /*background-color: #999;*/
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* display: block; */
}

div.cont_carousel {
  width: 650px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.car-cuerpo {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  float: right;
  padding-left: 60px;
}

div.car-cuerpo p {
  margin: 0;
  padding: 0;
}

div.car-cuerpo .c1 {
  font-size: 35px;
  color: #fff;
  line-height: 45px;
}
div.car-cuerpo .c2 {
  font-size: 66px;
  color: #fff;
  font-weight: bold;
  line-height: 60px;
}

a.btn_suscrip {
  padding: 5px 15px;
  background-color: #001550;
  color: #fff;
  display: block;
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 10px;
}

p.c3 {
  text-align: center;
  font-size: 18px;
  color: #fff;
}

/*********** sociales **************/
div.sociales {
  position: absolute;
  top: calc(90% - 350px);
  right: 25px;
  width: 80px;
  /* background-color: blueviolet; */
}

div.sociales img {
  max-width: 37px;
}
div.sociales ul {
  list-style: none;
}

div.sociales ul li {
  margin-bottom: 10px;
}
/************  user1 ***************/

div.user1 {
  background-color: #001550;
  padding: 25px 0 25px 120px;
}

div.user1 .user1-text {
  font-size: 22px;
  color: #fff;
  width: 350px;
}

/********** video2 **********/
div.video2 {
  position: absolute;
  background-color: rgb(206, 195, 195);
  top: calc(100% - 330px);
  height: 400px;
  width: 550px;
  right: 100px;
}

.video2 iframe {
  width: 100%;
  height: 100%;
}

/************ user2 ***********/
div.user2 {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 0px;
  grid-auto-rows: minmax(5px, auto);
  margin-top: 250px;
}

div.u2-left img {
  width: 100%;
  max-width: 650px;

  right: -135px;
  position: relative;
}

div.u2-right .u2r-texto {
  width: 100%;
  height: 165px;
  margin-top: 30px;
  background-color: #001550;
}

div.u2-right .u2r-texto .t1 {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  display: block;
  color: #fff;
  font-size: 22px;
}

div.u2-right .u2r-texto a.t2 {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;

  line-height: 40px;
  display: block;
  background-color: #e96d44;
  color: #fff;
  font-size: 22px;
  text-align: center;
}

/************ user3 ***********/
div.user3 {
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-gap: 0px;
  grid-auto-rows: minmax(5px, auto);
  margin-top: 150px;
}

div.u3-left img {
  width: 100%;
  max-width: 650px;
  right: -235px;
  top: -25px;
  position: relative;
}

div.u3-right .u3r-texto {
  width: 100%;
  height: 230px;
  margin-top: 30px;
  background-color: #e96d44;
  text-align: center;
}

div.u3-right .u3r-texto .t1 {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 35px;
  padding-bottom: 20px;
  display: block;
  color: #001550;
  font-size: 52px;
  line-height: 45px;
}

div.u3-right .u3r-texto a.t2 {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;

  line-height: 40px;
  display: block;
  background-color: #001550;
  color: #fff;
  font-size: 22px;
  text-align: center;
}

/*************** footer ***********/
div.footer {
  background-color: #001550;
  color: #fff;
  display: grid;
  grid-template-columns: 6fr 2fr 2fr;
  grid-gap: 0px;
  grid-auto-rows: minmax(5px, auto);
  margin-top: 150px;
  padding-bottom: 20px;
}
div.footer p,
div.footer a {
  color: #fff;
}

.foot-l {
  padding-left: 80px;
  padding-top: 40px;
}

.menu3 {
  display: block;
  width: 100%;
  float: left;
}

.menu3 a {
  display: block;
  float: left;
  height: 40px;
  line-height: 35px;
  color: #fff;
  border-right: 2px solid #fff;
  margin-left: 15px;
  padding-right: 15px;
}

.menu4 {
  display: block;
  width: 100%;
  float: left;
  margin-top: 15px;
}

.menu4 ul {
  list-style: none;
}

.menu4 ul li {
  float: left;
  margin-right: 10px;
}

.foot-c img {
  display: block;
  border-right: 2px solid #fff;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  max-width: 200px;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  width: 100%;
}

.foot-r {
  padding-top: 30px;
}

.foot-r p {
  text-indent: 25px;
}

.foot-r img {
  width: 100%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 160px;
}

/********** celulares************/
@media screen and (max-width: 560px) {
}

/*********** pantallas medias ************/
@media screen and (min-width: 561px) and (max-width: 1099px) {
  div.u3-left img {
    width: 100%;
    max-width: 650px;
    right: -235px;
    top: -10px;
    position: relative;
  }

  div.u3-right .u3r-texto {
    width: 100%;
    height: 200px;
    margin-top: 0px;
    background-color: #e96d44;
    text-align: center;
  }

  div.u3-right .u3r-texto .t1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 1100px) and (max-width: 1360px) {
  div.u3-left img {
    width: 100%;
    max-width: 650px;
    right: -235px;
    top: -10px;
    position: relative;
  }

  div.u3-right .u3r-texto {
    width: 100%;
    height: 200px;
    margin-top: 0px;
    background-color: #e96d44;
    text-align: center;
  }

  div.u3-right .u3r-texto .t1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
/************* pantallas grandes ***********/
@media screen and (min-width: 1600px) {
  div.video {
    bottom: calc(40%);
  }

  div.u2-left img {
    width: 100%;
    max-width: 650px;
    right: -260px;
    position: relative;
  }

  div.u2-right .u2r-texto {
    width: 100%;
    height: 165px;
    margin-top: 30px;
    background-color: #001550;
  }

  div.u3-left img {
    width: 100%;
    max-width: 650px;
    right: -320px;
    top: -25px;
    position: relative;
  }
}
